.leaderboard-container {
    margin: auto 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .leaderboard-table th,
  .leaderboard-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  
  
  .leaderboard-table tr:hover {
    background-color: #ddd;
  }